<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreVigor</title>

</head>
<body>

    <section class="headertop">

        <header class="logo1">
            <img src="https://i.ibb.co/ypTBNNg/logo1.png" alt="logodosite">
        </header>

    <div class="but">
        <button class="Beginning">
            <a class="button" href="./index">Inicio</a>
        </button>

        <button class="feeding">
            <a class="button" href="./feeding">Alimentação</a>
        </button>

        <button class="Health">
            <a class="button" href="./health">Saúde</a>
        </button>

        <button class="Testimonials">
            <a class="button" href="./depoimento">Depoimentos</a>
        </button>

        <button class="About">
            <a class="button" href="./about">Sobre</a>
        </button>

        <button class="Contact">
            <a class="button" href="./form">Contato</a>
        </button>
    </div>
    </section>

    <main id="container">

        <figure id="imagem1">
            <img class="imagem1" src="https://i.pinimg.com/originals/cb/0d/27/cb0d2740f5407420f98dff24a153b61e.png" alt="imagemPrincipal">
           <figcaption> <h1>Lorem ipsum, dolor sit amet</h1>  <br>
            consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus soluta quae nostrum magnam laboriosam obcaecati sint atque veniam, accusantium perspiciatis ab, assumenda eveniet iusto modi! Nesciunt natus in eum nulla. impeditexcepturi commodi, eius fugiat quo fugit! <br>
            Voluptates,dolor! Dolorem illum,  <br>
            doloribus ullam dolore <br>
            <a class="saibamais" href="#">saiba mais</a>
        </figcaption>
        </figure>

    <section class="information_three">

        <figure id="imagem2">
            <img class="imagem2" src="https://i.pinimg.com/originals/20/63/c3/2063c30df4e6d26250635e9e2609b106.png" alt="informação_sobre_idoso_e_vida">
            <figcaption>
               <h1><a class="img2" href="#">Lorem ipsum dolor sit. </a></h1>
            </figcaption>
        </figure>

        <figure id="imagem3">
            <img class="imagem3" src="https://i.pinimg.com/originals/c8/e3/65/c8e3653fb9e00f5fb6eaf39467d7a5c5.png" alt="informação_sobre_idoso_e_vida">
            <figcaption>
                <h1><a class="img3" href="#">Lorem ipsum dolor sit. </a></h1>
            </figcaption>
        </figure>

        <figure id="imagem4">
            <img class="imagem4" src="https://i.pinimg.com/originals/0a/94/fb/0a94fbccaf87c7f0a797f9b387d3fbd4.png" alt="informação_sobre_idoso_e_vida">
            <figcaption>
                <h1><a class="img4" href="#">Lorem ipsum dolor sit. </a></h1>
            </figcaption>
        </figure>
        
    </section>

    <section class="information_twoo">
            
        <figure id="imagem5">
            <img class="imagem5img" src="https://i.pinimg.com/originals/83/fa/a5/83faa5eac0268f7e257133304d6892bc.png" alt="informação_sobre_idoso_e_vida">

            <figcaption class="icone5text">
                <img src="https://i.ibb.co/rtHJ5z5/icone1.png" alt="icone_meramente_ilustrativo">
                <p class="img5font">Eleanor Pena <br>
                    há 2 dias • 2 min
                </p>

            </figcaption>

            <figcaption class="imagem5text">
                <h1>
                    <a class="img5" href="#">Lorem ipsum dolor sit. <a>
                <h1> 
                <h5 class="img5text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus corporis<br>
                    qui omnis iste commodi aliquam consequuntur blanditiis? <br>
                    Deserunt facilis in at. Provident doloremque magnam placeat voluptatum dolorem.
                    <hr>
            <div class="icons">
                <img src="https://i.ibb.co/028yMCZ/view.png" alt="icone_da_visualização">
                <p>2.154</p>

                <img src="https://i.ibb.co/RTRkz0X/comment.png" alt="icone_do_comentario">
                <p>1.458</p>

                <img src="https://i.ibb.co/0QSMc0J/heart.png" alt="icone_de_curtida">
            </div>
                </h5>
            </figcaption>
        </figure>

        <figure id="imagem6">
            <img class="imagem6" src="https://i.pinimg.com/originals/b5/87/49/b58749c5ab22ce5e16fa37415bf54993.png" alt="informação_sobre_idoso_e_vida">
            <figcaption class="imagem6text">
                <h1><a class="img6" href="#">Lorem ipsum dolor sit. </a></h1>
                <h5 class="img6text">
                    Lorem ipsum dolor sit amet elit.<br>
                    Voluptatibus ipsa, soluta, dolor <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing.
                    <br>
                    Blanditiis rem, voluptatum<br>
                    dolor, ipsum ab quaerat vel nesciunt harum maiores <br>
                    sapiente eaque, unde nihil ducimus a corrupti nisi.<br>
                    id inventore dolores atque deserunt laboriosam <br>
                    debitis enim minus dolorem iusto sequi repellat
                    <br>
                    <br>
                    E-mail: exemplo@exemplo.com.br
                </h5>
            </figcaption>
        </figure>
    </section>

<section class="information_twoo2">

<figure id="imagem7">
        <img class="imagem7img" src="https://i.pinimg.com/originals/25/00/8f/25008f28351e77b814d90d9e7077f610.png" alt="informação_sobre_idoso_e_vida">

            <figcaption class="icone7text">
                <img src="https://i.ibb.co/rtHJ5z5/icone1.png" alt="icone_meramente_ilustrativo">
            <p class="img7font">Eleanor Pena <br>
                há 2 dias • 2 min
            </p>

            </figcaption>

    <figcaption class="imagem7text">
            <h1>
                <a class="img7" href="">Lorem ipsum dolor sit. <a>
            <h1> 
            <h5 class="img7text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus corporis<br>
                qui omnis iste commodi aliquam consequuntur blanditiis? <br>
                Deserunt facilis in at. Provident doloremque magnam placeat voluptatum dolorem.
                <hr>
        <div class="icons">
            <img src="https://i.ibb.co/028yMCZ/view.png" alt="icone_da_visualização">
            <p>1.180</p>

            <img src="https://i.ibb.co/RTRkz0X/comment.png" alt="icone_do_comentario">
            <p>2.158</p>

            <img src="https://i.ibb.co/0QSMc0J/heart.png" alt="icone_de_curtida">
        </div>
            </h5>
    </figcaption>
</figure>
</section>

<section class="information_twoo3">

    <figure id="imagem8">
            <img class="imagem8img" src="https://i.pinimg.com/originals/b7/44/4d/b7444d56d2ef0835f864b7b13bd304ff.png" alt="informação_sobre_idoso_e_vida">
    
                <figcaption class="icone8text">
                    <img src="https://i.ibb.co/rtHJ5z5/icone1.png" alt="icone_meramente_ilustrativo">
                <p class="img8font">Eleanor Pena <br>
                    há 2 dias • 2 min
                </p>
    
                </figcaption>
    
        <figcaption class="imagem8text">
                <h1>
                    <a class="img8" href="">Lorem ipsum dolor sit. <a>
                <h1> 
                <h5 class="img8text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus corporis<br>
                    qui omnis iste commodi aliquam consequuntur blanditiis? <br>
                    Deserunt facilis in at. Provident doloremque magnam placeat voluptatum dolorem.
                    <hr>
            <div class="icons">
                <img src="https://i.ibb.co/028yMCZ/view.png" alt="icone_da_visualização">
                <p>3.180</p>
    
                <img src="https://i.ibb.co/RTRkz0X/comment.png" alt="icone_do_comentario">
                <p>1.108</p>
    
                <img src="https://i.ibb.co/0QSMc0J/heart.png" alt="icone_de_curtida">
            </div>
                </h5>
        </figcaption>
    </figure>
    </section>
</main>

    <footer class="footerbox">
        <div class="logofooter">
            <img src="https://i.ibb.co/41H7Gwn/logo2.png" alt="logodosite">
        </div>
<hr>
        <div class="maisinfo">
            <p class="footertext" >Receba dicas para viver de forma consciente!</p>
            <form class="forminfo" action="">
                <label for="amount"></label>
                <input class="text-input" type="text" id="amount" name="amount" placeholder="E-mail">
                <button class="Enviarfooter">Assine</button>
            </form>
        </div>
<hr>
        <div class="infofooter">
            <p>PREVIGOR - Mais Vigor na Terceira Idade <br>
                E-mail: exemplo@exemplo.com <br>
                Telefone: (86) 9 9999-9999
            </p>
            <p class="iconline">
                <img src="https://i.ibb.co/brqJ6y4/instagram.png" alt="instagram">
                <img src="https://i.ibb.co/vBRc5dt/twiiter.png" alt="twitter">
                <img src="https://i.ibb.co/h8x3R4G/facebook.png" alt="facebook">
            </p>
        </div>
    </footer>

    <footer class="footerrodape">
        <p>@ 2021 por Alunos Senac • Programador Web <br>
            Todos os direitos reservados.
        </p>
      
    </footer>
        
</body>
</html>